html,
body {
  height: 100%;
}

.btn-outline-secondary {
    color: #aaa !important;
}

.btn-outline-secondary:hover {
    color: white !important;
}

.map-canvas {
  height: 100%;
}

.nav-link:hover {
    background-color: #6c757d;
    color: white;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
}