# Standard
.DS_Store
._*
Thumbs.db
*.pyc
Coursework/Part 3 The Backend Databases & Applications/FSND-Virtual-Machine/vagrant/newsdata.sql
Coursework/Part 3 The Backend Databases & Applications/FSND-Virtual-Machine/vagrant/news/newsdata.sql
Part 3 The Backend Databases & Applications/FSND-Virtual-Machine/vagrant/newsdata.sql
Part 3 The Backend Databases & Applications/FSND-Virtual-Machine/vagrant/news/newsdata.sql
*secrets.json
